<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
</head>
<body>


<form th:method = "PATCH" th:action = "@{/{id}(id = ${book.getId()})}" th:object = "${book}">
    <label for = "title">Title: </label>
    <input type = "text" th:field = "*{title}" id = "title"/>
    <br/>

    <label for = "author">Author: </label>
    <input type = "text" th:field = "*{author}" id = "author"/>
    <br/>

    <label for = "publishYear">Publish Year: </label>
    <input type = "text" th:field = "*{publishYear}" id = "publishYear"/>
    <br/>

    <label for = "genre">Genre: </label>
    <input type = "text" th:field = "*{genre}" id = "genre"/>
    <br/>

    <label for = "readingStatus">Reading Status: </label>
    <input type = "text" th:field = "*{readingStatus}" id = "readingStatus"/>
    <br/>

    <input type="submit" value="Update!"/>
</form>

</body>
</html>