<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p th:text = "${book.getId}">Value</p>
<p th:text = "${book.getTitle}">Value</p>
<p th:text = "${book.getAuthor}">Value</p>
<p th:text = "${book.getPublishYear}">Value</p>
<p th:text = "${book.getGenre}">Value</p>
<p th:text = "${book.getReadingStatus}">Value</p>

<a th:href = "@{{id}/edit(id = ${book.getId()})}">Edit</a>

<form th:method = "DELETE" th:action = "@{/{id}(id = ${book.getId()})}">
    <input type = submit value = "Delete!"/>
</form>

</body>
</html>